.wrapper {
    position: relative;
    width: 100%;

    .list-movies {
        position: absolute;
        width: 100%;
        top: calc(var(--header-height) + 200px);
        padding: 60px;
    }
    .hot-movies {
        width: 100%;
        height: 500px;
        background-color: yellow;
        margin-top: 56%;
    }
}
