.wrapper{

    
    width: 90px;
    height: 32px;
    font-weight:bold;
    border: none;
    text-align: center;
    margin: 0 auto;
    padding: 8px 12px;
    color:var(--text-color);
    border-radius:12px;
    + .wrapper{
        margin-left:10px;
    }
    &.disabled{
        pointer-events: none;
        opacity: 0.5;
    }
    &:hover{
        cursor: pointer;

    }
    .icon{
        margin-right: 4px;
    }
    
}
.primary{
    background: var(--button-color);
    color: #fff;
    border: 1px solid #fff;
    &:hover{
        background: rgb(194, 140, 140);
    }
   
    
}
.outline{
    color:var(red);
    background: #fff;
    border: 2.5px solid #00dcff;
    &:hover{
        background: rgb(141, 232, 248);
    }
    
}
.none{
    color:rgb(207, 16, 16);
    background: #fff;
    &:hover{
        background: rgb(194, 140, 140);
    }
}